<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Clothes</title>
<!-- <link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="css/app.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body th:include="layout :: body" th:with="content=~{::content}" onload="loadHeader()">

	<div th:fragment="content">
		<script th:inline="javascript">
			var type = [[${type}]];
			console.log(type);
			var app = angular.module('myApp', []);
 			app.directive('fileModel', ['$parse', function ($parse) {
			    return {
			       restrict: 'A',
			       link: function(scope, element, attrs) {
			          var model = $parse(attrs.fileModel);
			          var modelSetter = model.assign;
			           
			          element.bind('change', function(){
			             scope.$apply(function(){
			                modelSetter(scope, element[0].files[0]);
			             });
			          });
			       }
			    };
			     
			}]);
		    function loadHeader() {
		    	var title = type;
		        if (title === null || title == 'NotSpecified') {
		        	title = 'All Clothes';
		        }
		        document.getElementById("title").innerHTML = title;
		     }
			app.controller('viewClothesCtrl', function($scope, $http, $q) {
				$http.get("/demo/api/v1/clothes/" + type)
				.then(function (response) {
					$scope.clothes = response.data;
				});
 	            
				// Add Functionality
				$scope.resetAdd = function() {
					$scope.clothing = {};
					if (undefined != $scope.addClothingForm) {
						$scope.addClothingForm.$setPristine(); // reset Form
					}
				}
				
				$scope.add = function () {
					$scope.errorAdding = "";
					$scope.successMessage = "";
					
					if (!$scope.clothing.type) {
						$scope.errorAdding += "Please select a type\n";
					}
					
					if (!$scope.clothing.primaryColor) {
						$scope.errorAdding += "Please select a primary color\n";
					}
					
					if (!$scope.clothing.secondaryColor) {
						$scope.errorAdding += "Please select a secondary color\n";
					}
					
					if (!$scope.clothing.file) {
						$scope.errorAdding += "Please select a photo\n";
					}
					
					if ($scope.errorAdding == "") {
						$scope.addClothing();
						$scope.resetAdd();
					}

				}	
				
		        $scope.addClothing = function () {
		            var data = new FormData();
		            
		            data.append("primaryColor", $scope.clothing.primaryColor);
		            data.append("secondaryColor", $scope.clothing.secondaryColor);
		            data.append("type", $scope.clothing.type);
		            data.append("photo", $scope.clothing.file);
		     
		            var config = {
		                transformRequest: angular.identity,
		                transformResponse: angular.identity,
		                headers: {
		                    'Content-Type': undefined
		                }
		            }
					console.log($scope.clothing);
		            $http.post("/demo/api/v1/clothes", data, config).then(
		              function (response) {
		                $scope.errorAdding = "";
		                $scope.successMessage = "Clothing successfully added";
						$http.get("/demo/api/v1/clothes/" + type)
						.then(function (response) {
							$scope.clothes = response.data;
						});
		              }, function (rejection) {
		                $scope.errorAdding = "Clothing could not be added";
		                $scope.successMessage = "";
						$http.get("/demo/api/v1/clothes/" + type)
						.then(function (response) {
							$scope.clothes = response.data;
						});
		              });
		        }
		        
		        // Update Functionality
		        $scope.selectClothing = function (id) {
		        	$http.get("/demo/api/v1/clothing/" + id)
					.then(function (response) {
						$scope.selectedClothing = response.data;
						$scope.getSuccess = true;
						//console.log($scope.clothes);
					}, function(rejection){
						$scope.getSuccess = false;
					});
		        }
		        
		        $scope.update = function() {
					$scope.error = "";
					$scope.success = "";
					
					if (!$scope.selectedClothing.type) {
						$scope.error += "Please select a type\n";
					}
					
					if (!$scope.selectedClothing.primaryColor) {
						$scope.error += "Please select a primary color\n";
					}
					
					if (!$scope.selectedClothing.secondaryColor) {
						$scope.error += "Please select a secondary color\n";
					}
					
					if ($scope.error == "") {
						$scope.updateClothing();
						$scope.resetUpdate();
					}
		        }
		        
		        $scope.updateClothing = function() {
		            var data = new FormData();
		            
		            data.append("id", $scope.selectedClothing.id);
		            data.append("primaryColor", $scope.selectedClothing.primaryColor);
		            data.append("secondaryColor", $scope.selectedClothing.secondaryColor);
		            data.append("type", $scope.selectedClothing.type);
		            if ($scope.selectedClothing.file != undefined) {
		            	data.append("photo", $scope.selectedClothing.file);
		            }
		            
		     
		            var config = {
		                transformRequest: angular.identity,
		                transformResponse: angular.identity,
		                headers: {
		                    'Content-Type': undefined
		                }
		            }
	
		            console.log($scope.selectedClothing);
 		            $http.put("/demo/api/v1/clothes", data, config).then(
		              function (response) {
		                $scope.error = "";
		                $scope.success = "Clothing successfully updated";
						$http.get("/demo/api/v1/clothes/" + type)
						.then(function (response) {
							$scope.clothes = response.data;
						});
		              }, function (rejection) {
		                $scope.error = "Clothing could not be updated";
		                $scope.success = "";
						$http.get("/demo/api/v1/clothes/" + type)
						.then(function (response) {
							$scope.clothes = response.data;
						});
				    });
		        }
		        
		        $scope.resetUpdate = function() {
					if (undefined != $scope.updateClothingForm) {
						$scope.updateClothingForm.$setPristine(); // reset Form
					}
					$scope.selectedClothing = {};
		        }
		        
		        // Delete Functionality
				$scope.deleteClothing = function () {
					var deferred = $q.defer();
			        $http.delete("/demo/api/v1/clothes/" + $scope.selectedClothing.id)
			            .then(
			            function (response) {
			            	//console.log(response);
			    			$scope.submissionSuccess=true;
			    			$scope.error = "";
			                $scope.success = "Clothing successfully deleted";
			                deferred.resolve(response.data);
							$http.get("/demo/api/v1/clothes/" + type)
							.then(function (response) {
								$scope.clothes = response.data;
							});
							$scope.resetUpdate();
			            },
			            function(rejection){
			                //console.log(rejection);
							$scope.submissionSuccess=false;
			                $scope.error = "Clothing could not be deleted";
			                $scope.success = "";
			                deferred.reject(rejection);
							$http.get("/demo/api/v1/clothes/" + type)
							.then(function (response) {
								$scope.clothes = response.data;
							});
							$scope.resetUpdate();
			            }
			        );
				}
		        
		        // Filter Functionality
		        $scope.resetFilter = function() {
		        	$scope.filter = {};
					if (undefined != $scope.filterClothingForm) {
						$scope.filterClothingForm.$setPristine(); // reset Form
					}
					$http.get("/demo/api/v1/clothes/" + type)
					.then(function (response) {
						$scope.clothes = response.data;
					});
		        }
		        
		        $scope.filterClothes = function() {
		        	if (undefined == $scope.filter.primaryColor) {
		        		$scope.filter.primaryColor = null;
					}
		        	if (undefined == $scope.filter.secondaryColor) {
		        		$scope.filter.secondaryColor = null;
					}
		        	$http.get("/demo/api/v1/filter/" + type + "/" + $scope.filter.primaryColor + "/" + $scope.filter.secondaryColor)
					.then(function (response) {
						$scope.clothes = response.data;
						//console.log($scope.clothes);
					});
		        }
		        
		        
		        $http.get("/demo/api/v1/type")
                .then(function (response) {
                    $scope.types = response.data;
                    //console.log($scope.types);
                });
		        
		        $http.get("/demo/api/v1/color")
                .then(function (response) {
                    $scope.colors = response.data;
                    //console.log($scope.colors);
                });
		        
		        $scope.resetAdd();
		        $scope.resetUpdate();
		        $scope.resetFilter();

			});
		</script>
		
		
		
		
		<div ng-app="myApp" ng-controller="viewClothesCtrl as ctrl">
			<div class="d-flex" id="wrapper">
				<!-- Sidebar -->
			 	<div class="border-end bg-white" id="sidebar-wrapper">
	                <div class="sidebar-heading border-bottom bg-light">Browse by Type</div>
	                <div class="list-group list-group-flush">
	                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="viewClothes?type=NotSpecified">All Clothes</a>
	                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="viewClothes?type=Tops">Tops</a>
	                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="viewClothes?type=Bottoms">Bottoms</a>
	                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="viewClothes?type=Outerwear">Outerwear</a>
	                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="viewClothes?type=Shoes">Shoes</a>
	                </div>
	            </div>
	            
				<!-- <ul style="display:grid;"> -->
				<div class="container-fluid">
					
					<!-- Add Clothes -->
					<div class="row">
					
						<div class="navbar">
							<h1><span id="title"></span></h1>
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClothes">Add Clothes</button>
							<!-- <a class="list-group-item list-group-item-light p-3" href="addClothes">Add Clothes</a> -->
						</div>
						
						<!-- Modal -->
						<div class="modal fade" id="addClothes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						    
						      <div class="modal-header">
						        <h5 class="modal-title" id="staticBackdropLabel">Add Clothing</h5>
						        <button type="button" ng-click="resetAdd()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      
						      <div class="modal-body">
						        <form name="addClothingForm">
									<div class="row mb-3">
										<label for="type" class="col-sm-4 col-form-label">Type</label>
										<div class="col-sm-8">
											<select ng-model="clothing.type"
													ng-options="type.id as type.name for type in types"
													name="selectTypeDropdown" class="form-select"
													>
												<option value="">Select type</option>
											</select>
										</div>
									</div>
									
									<div class="row mb-3">
										<label for="primaryColor" class="col-sm-4 col-form-label">Primary color</label>
										<div class="col-sm-8">
											<select ng-model="clothing.primaryColor"
													ng-options="color.id as color.name for color in colors"
													name="selectPrimaryColorDropdown" class="form-select"
													>
												<option value="">Select primary color</option>
											</select>
										</div>
									</div>
									
									<div class="row mb-3">
										<label for="secondaryColor" class="col-sm-4 col-form-label">Secondary color</label>
										<div class="col-sm-8">
											<select ng-model="clothing.secondaryColor"
													ng-options="color.id as color.name for color in colors"
													name="selectSecondaryColorDropdown" class="form-select"
													>
												<option value="">Select secondary color</option>
											</select>
										</div>
									</div>
									
									<div class="row mb-3">
										<label for="photo" class="col-sm-4 col-form-label">Photo</label>
										<div class="col-sm-8">
											<input class="form-control" type="file" file-model="clothing.file" id="formFile"/>
										</div>
									</div>
								</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" ng-click="resetAdd()" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						        <button type="button" ng-click="add()" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
						      </div>
						    </div>
						  </div>
						</div>
		            </div>
		            
		            <!-- Filter clothes -->
		            <form name="filterClothingForm">
			            <div class="row" id="filter-bar">
								<div class="col-sm-3">
									<select ng-model="filter.primaryColor"
											ng-options="color.id as color.name for color in colors"
											name="filterSecondaryColorDropdown" class="form-select"
											>
										<option value="">Select primary color</option>
									</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="filter.secondaryColor"
											ng-options="color.id as color.name for color in colors"
											name="filterSecondaryColorDropdown" class="form-select"
											>
										<option value="">Select secondary color</option>
									</select>
								</div>
							<div class="col-sm">
								<button type="button" ng-click="filterClothes()" class="btn btn-primary" data-bs-dismiss="modal">Apply</button>
								<button type="button" ng-click="resetFilter()" class="btn btn-secondary" data-bs-dismiss="modal">Reset</button>
							</div>
						</div>
					</form>
		            
		            <!-- Display clothes -->
		            <div class="row row-cols-4">
		            	<div class="img-container" ng-repeat="c in clothes">
							
							<!-- Modal -->
							<div class="modal fade" id="editClothing" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="staticBackdropLabel">Update Clothing</h5>
							        <button type="button" ng-click="resetUpdate()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        <form name="updateClothingForm">
										<div class="row mb-3">
											<label for="type" class="col-sm-4 col-form-label">Type</label>
											<div class="col-sm-8">
												<select ng-model="selectedClothing.type"
														ng-options="type.id as type.name for type in types"
														name="selectTypeDropdown" class="form-select"
														>
													<option value="">Update type</option>
												</select>
											</div>
										</div>
										
										<div class="row mb-3">
											<label for="primaryColor" class="col-sm-4 col-form-label">Primary color</label>
											<div class="col-sm-8">
												<select ng-model="selectedClothing.primaryColor"
														ng-options="color.id as color.name for color in colors"
														name="selectPrimaryColorDropdown" class="form-select"
														>
													<option value="">Update primary color</option>
												</select>
											</div>
										</div>
										
										<div class="row mb-3">
											<label for="secondaryColor" class="col-sm-4 col-form-label">Secondary color</label>
											<div class="col-sm-8">
												<select ng-model="selectedClothing.secondaryColor"
														ng-options="color.id as color.name for color in colors"
														name="selectSecondaryColorDropdown" class="form-select"
														>
													<option value="">Update secondary color</option>
												</select>
											</div>
										</div>
										
										<div class="row mb-3">
											<label for="photo" class="col-sm-4 col-form-label">Photo</label>
											<div class="col-sm-8">
												<input class="form-control" type="file" file-model="selectedClothing.file" id="formFile"/>
											</div>
										</div>
									</form>
							      </div>
							      <div class="modal-footer">
							        <button type="button" ng-click="deleteClothing()" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
							        <button type="button" ng-click="update()" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
							      </div>
							    </div>
							  </div>
							</div>
			                <a data-bs-toggle="modal" href="#editClothing" role="button" ng-click="selectClothing(c.id)">
			               		<img alt="{{c.id}}" ng-src='/demo/api/v1/photos/{{c.photo}}'/>
			               	</a>
		                </div>
		            </div>
		        </div>
	        </div>
	        <!-- </ul> -->
		</div>
	</div>

</body>
</html>